<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="style/aboutstyle.css">
</head>
<body>
<div class = "container">
    <h1>ABOUT US</h1>
    <h2>MEMBERS OF THIS GROUP</h2>
    <p>Hakeem Hoopdeo<br>Talha Vawda<br>Ahmad Jawaad Shah<br>Shaelin Naidoo<br>Ntusekho Mngadi</p>
    <h2>WHAT DOES THIS INTERFACE ENTAIL</h2>
    <p><B>Quantifying and Classifying the digital (Social Media) footprint of South African telecommunications companies before and during the COVID-19 Pandemic</B><br>Cornerstone group project for COMP301 (Software Design) module</p>
    <h2>HOW WE HAVE FORMED OUR PROJECT</h2>
    <p>Our group has taken to Twitter to gather information about 4 Industrial Revolution companies, namely Rain, Telkom, Afrihost and MTN. <br>We used python scraping tools to store all tweets related to these companies before and during the pandemic. We then created a web interface using Java and its Spring Boot tools in order to display some of the statistics we found. This interface has user friendly graphs to show the data found. </p>
</div>
</body>
</html>