<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/chartpage.css}" rel="stylesheet" />
    <title>Charts</title>
</head>

<body>
    <div id="foreground">
        <div id="heading">
            <h1> Charts</h1>
        </div>

        <div id="barchart"></div>

        <div id="piechart"></div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script th:inline="javascript">
        var tC = /*[[${telkomzacount}]]*/;
        var rC = /*[[${rainsouthafricacount}]]*/;
        var mC = /*[[${mtnzacount}]]*/;
        var aC = /*[[${afrihostcount}]]*/;

        var tN = /*[[${telkomzaname}]]*/;
        var rN = /*[[${rainsouthafricaname}]]*/;
        var mN = /*[[${mtnzaname}]]*/;
        var aN = /*[[${afrihostname}]]*/;


        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['Company', 'Share'],
          [tN, tC],
          [rN, rC],
          [mN, mC],
          [aN, aC]
        ]);

          var p_options = {'title':'Share of Interaction Per Company', 'width':650, 'height':600, backgroundColor: '#EEEEEE'};
          var b_options = {'title':'Number of Tweets Per Company', 'width':650, 'height':500, backgroundColor: '#EEEEEE'};

          var pchart = new google.visualization.PieChart(document.getElementById('piechart'));

          var bchart = new google.visualization.BarChart(document.getElementById('barchart'));

          pchart.draw(data, p_options);
          bchart.draw(data, b_options);


          }
    </script>



</body>



</html>