<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose A Query</title>
    <link href="style/choosestyle.css" rel="stylesheet" type="text/css"/>
    <script type= "text/javascript" src="choosemenu.js"></script>
</head>
<body>
    <div class="container">
        <h1>SELECT A QUERY </h1>
        <section class="supporting">
            <div class="col">
                <section class="dropdown">
                    <label for="query">Select a query from the drop down menu<br></label>
                    <select name="query" id="query" onchange="showDiv(this, this.value)">
                        <option value="#">Select A Query</option>
                        <option value="javascript:gotoChart()">Chart Page</option>
                        <option value="javascript:gotoCompanies()">Companies Page</option>
                        <option value="#">Number of tweets </option>
                        <option value="javascript:gotoFreqUser()">Frequently Mentioned User </option>
                        <option value="javascript:gotoHashtags()">Popular Hashtags</option>
                        <option value="##">Mentions per company </option>
                        <option value="####">Sentiment about a Company</option>
                        <option value="######">Analysis</option>
                        <option value="javascript:gotoIndex()">Back</option>

                    </select>
                </section>

                <p>For more information about the queries<br><br>
                    <a href="javascript:gotoHelp()">Click Here</a><br>
                </p>

                <div id="numtweetbtn" class="btn-numtweet">
                    <button onclick="javascript:decide('telkomza')">Telkom</button>
                    <button onclick="javascript:decide('rainsouthafrica')">Rain</button>
                    <button onclick="javascript:decide('afrihost')">Afrihost</button>
                    <button onclick="javascript:decide('mtnza')">MTN</button>
                </div>

            </div>
        </section>
    </div>
    <script type="text/javascript">
        function showDiv(select, src){
            window.location = src;
            if(select.value==='#' || select.value==='##' ||select.value==='####')
            document.getElementById('numtweetbtn').style.display = "block";
        }

    </script>

    <script th:inline = "javascript">
        function decide(company){
            select = document.getElementById('query');
            value = select.value;

            if(value==="#"){
                gotoNumTweets(company);
            }
            if(value==="##"){
                gotoMentions(company);
            }
            if(value==="####"){
                gotoGenSent(company);
            }
            if(value === "######"){
                gotoAnalysis();
            }
        }


        function gotoGenSent(company){
            window.location.href = "/generalsentiment?company="+company+"&sample=10"
        }
        function gotoUserSent(user){
            window.location.href = "/usersentiment?user="+user+"&sample=10"
        }
        function gotoChart(){
            window.location.href = "/chart";
        }

         function gotoCompanies(){
            window.location.href = "/companies";
        }

        function gotoIndex(){
            window.location.href = "/";
        }

         function gotoNumTweets(company){
            window.location.href = "/numtweets?company="+company;
        }
        function gotoMentions(company){
            window.location.href = "/mentions?company="+company;
        }

        function gotoFreqUser() {
            window.location.href = "/freqmentioneduser";
        }
        function gotoHashtags(){
            window.location.href = "/hashtags";
        }
        function gotoHelp(){
            window.location.href = "/queryhelp";
        }
        function gotoAnalysis(){
            window.location.href = "/Analysi";
        }

    </script>

</body>
</html>