<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose A Query</title>
    <link href="style/choosestyle.css" rel="stylesheet" type="text/css"/>
    <script type= "text/javascript" src="choosemenu.js"></script>
</head>
<body>
    <div class="container">
        <h1>What Queries would you like to see?</h1>
        <section class="supporting">
            <div class="col">
                <section class="dropdown">
                    <label for="query">Select a query from the drop down menu<br></label>
                    <select name="query" id="query" onchange="la(this.value)">
                        <option value="#">Select A Query</option>
                        <option value="javascript:gotoChart()">Chart Page</option>
                        <option value="javascript:gotoSimple()">SimpleQuery Page</option>
                        <option value="javascript:gotoIndex()">Back</option>
                    </select>
                </section>
            </div>
        </section>
    </div>

<script th:inline = "javascript">
    function gotoChart(){
        window.location.href = "/chart";
    }

     function gotoSimple(){
        window.location.href = "/data";
    }

     function gotoIndex(){
        window.location.href = "/";
    }
</script>
</body>
</html>