<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose A Query</title>
    <link href="style/choosestyle.css" rel="stylesheet" type="text/css"/>
    <script type= "text/javascript" src="choosemenu.js"></script>
</head>
<body>
    <div class="container">
        <h1>SELECT A QUERY </h1>
        <section class="supporting">
            <div class="col">
                <section class="dropdown">
                    <label for="query">Select a query from the drop down menu<br>For more information about the queries<br><br>
                        <a href="queryhelp.html">Click Here</a><br><br></label>
                    <select name="query" id="query" onchange="showDiv(this, this.value)">
                        <option value="#">Select A Query</option>
                        <option value="javascript:gotoChart()">Chart Page</option>
                        <option value="javascript:gotoSimple()">SimpleQuery Page</option>
                        <option value="#">Number of tweets </option>
                        <option value="javascript:gotoFreqUser()">Frequently Mentioned User </option>
                        <option value="javascript:gotoHashtags()">Popular Hashtags</option>
                        <option value="##">Mentions per company </option>
                        <option value="##">User Sentiment</option>
                        <option value="javascript:gotoIndex()">Back</option>

                    </select>
                </section>

                <div id="numtweetbtn" class="btn-numtweet">
                    <button onclick="javascript:gotoNumTweets('telkomza')">Telkom</button>
                    <button onclick="javascript:gotoNumTweets('rainsouthafrica')">Rain</button>
                    <button onclick="javascript:gotoNumTweets('afrihost')">Afrihost</button>
                    <button onclick="javascript:gotoNumTweets('mtnza')">MTN</button>
                </div>
                <div id="mentionbtn" class="btn-mentions">
                    <button onclick="javascript:gotoMentions('telkomza')">Telkom</button>
                    <button onclick="javascript:gotoMentions('rainsouthafrica')">Rain</button>
                    <button onclick="javascript:gotoMentions('afrihost')">Afrihost</button>
                    <button onclick="javascript:gotoMentions('mtnza')">MTN</button>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        function showDiv(select, src){
            window.location = src;
            if(select.value==="#"){
                document.getElementById('numtweetbtn').style.display = "block";
            }
            else if (select.value === "##"){
                document.getElementById('mentionbtn').style.display = "block";
            }
        }

    </script>

    <script th:inline = "javascript">
        function gotoChart(){
            window.location.href = "/chart";
        }

         function gotoSimple(){
            window.location.href = "/data";
        }

        function gotoIndex(){
            window.location.href = "/";
        }

         function gotoNumTweets(company){
            window.location.href = "/numtweets?company="+company;
        }
        function gotoMentions(company){
            window.location.href = "/mentions?company="+company;
        }

        function gotoFreqUser() {
            window.location.href = "/freqmentioneduser";
        }
        function gotoHashtags(){
            window.location.href = "/hashtags";
        }

    </script>

</body>
</html>