<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frequently Mentioned Users</title>

    <style type="text/css">
        body{
            background-color: #303030;
            color: white;
            font-family: sans-serif;
            text-align: center;
        }
        h1{
            font-weight: 300;
            font-size: 55px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        table, th, td {
            border: 1px solid white;
        }
        .container{
            margin: 50px 250px;
        }
    </style>
</head>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>

<script type="text/javascript">
    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "java_application",
            server_password: "12345",
            labels: {},
            relationships: {},
            initial_cypher: "MATCH (u:user)-[:IS_MENTIONED_IN]->(t:tweet)\n" +
                "RETURN u, Count(t) AS mentions Order by mentions DESC\n" +
                "LIMIT 10"
        }

        var viz = new NeoVis.default(config);
        viz.render();
    }

</script>

<body onload="draw()">

    <h1>The Most Frequently Mentioned Users</h1>

    <div id="viz"></div>

    <div class = "container">
        <table style="width:100%">
            <tr>
                <th>User</th>
                <th>Count</th>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_0}"></h6></td>
                <td><h6 th:text="${count_place_0}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_1}"></h6></td>
                <td><h6 th:text="${count_place_1}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_2}"></h6></td>
                <td><h6 th:text="${count_place_2}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_3}"></h6></td>
                <td><h6 th:text="${count_place_3}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_4}"></h6></td>
                <td><h6 th:text="${count_place_4}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_5}"></h6></td>
                <td><h6 th:text="${count_place_5}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_6}"></h6></td>
                <td><h6 th:text="${count_place_6}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_7}"></h6></td>
                <td><h6 th:text="${count_place_7}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_8}"></h6></td>
                <td><h6 th:text="${count_place_8}"></h6></td>
            </tr>

            <tr>
                <td><h6 th:text="${text_place_9}"></h6></td>
                <td><h6 th:text="${count_place_9}"></h6></td>
            </tr>
        </table>
    </div>



</body>
</html>