<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>frequently mentioned users</title>
</head>
<body>
    <h6 th:text="${text_place_0}"></h6>
    <h6 th:text="${count_place_0}"></h6>
    <h6 th:text="${text_place_1}"></h6>
    <h6 th:text="${count_place_1}"></h6>
    <h6 th:text="${text_place_2}"></h6>
    <h6 th:text="${count_place_2}"></h6>
    <h6 th:text="${text_place_3}"></h6>
    <h6 th:text="${count_place_3}"></h6>
    <h6 th:text="${text_place_4}"></h6>
    <h6 th:text="${count_place_4}"></h6>
    <h6 th:text="${text_place_5}"></h6>
    <h6 th:text="${count_place_6}"></h6>
    <h6 th:text="${text_place_6}"></h6>
    <h6 th:text="${count_place_7}"></h6>
    <h6 th:text="${text_place_8}"></h6>
    <h6 th:text="${count_place_8}"></h6>
    <h6 th:text="${text_place_9}"></h6>
    <h6 th:text="${count_place_9}"></h6>
</body>
</html>