<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hashtag frequencies</title>
</head>
<body>
    <div id="all">
        <div class = "text">
            <h6 th:text="${text_all_place_0}"></h6>
            <h6 th:text="${count_all_place_0}"></h6>
            <h6 th:text="${text_all_place_1}"></h6>
            <h6 th:text="${count_all_place_1}"></h6>
            <h6 th:text="${text_all_place_2}"></h6>
            <h6 th:text="${count_all_place_2}"></h6>
            <h6 th:text="${text_all_place_3}"></h6>
            <h6 th:text="${count_all_place_3}"></h6>
            <h6 th:text="${text_all_place_4}"></h6>
            <h6 th:text="${count_all_place_4}"></h6>
            <h6 th:text="${text_all_place_5}"></h6>
            <h6 th:text="${count_all_place_6}"></h6>
            <h6 th:text="${text_all_place_6}"></h6>
            <h6 th:text="${count_all_place_7}"></h6>
            <h6 th:text="${text_all_place_8}"></h6>
            <h6 th:text="${count_all_place_8}"></h6>
            <h6 th:text="${text_all_place_9}"></h6>
            <h6 th:text="${count_all_place_9}"></h6>
        </div>

        <div id="user">
            <h6 th:text="${text_user_place_0}"></h6>
            <h6 th:text="${count_user_place_0}"></h6>
            <h6 th:text="${text_user_place_1}"></h6>
            <h6 th:text="${count_user_place_1}"></h6>
            <h6 th:text="${text_user_place_2}"></h6>
            <h6 th:text="${count_user_place_2}"></h6>
            <h6 th:text="${text_user_place_3}"></h6>
            <h6 th:text="${count_user_place_3}"></h6>
            <h6 th:text="${text_user_place_4}"></h6>
            <h6 th:text="${count_user_place_4}"></h6>
            <h6 th:text="${text_user_place_5}"></h6>
            <h6 th:text="${count_user_place_5}"></h6>
            <h6 th:text="${text_user_place_6}"></h6>
            <h6 th:text="${count_user_place_6}"></h6>
            <h6 th:text="${text_user_place_7}"></h6>
            <h6 th:text="${count_user_place_7}"></h6>
            <h6 th:text="${text_user_place_8}"></h6>
            <h6 th:text="${count_user_place_8}"></h6>
            <h6 th:text="${text_user_place_9}"></h6>
            <h6 th:text="${count_user_place_9}"></h6>
        </div>

        <div id="company">
            <h6 th:text="${text_company_place_0}"></h6>
            <h6 th:text="${count_company_place_0}"></h6>
            <h6 th:text="${text_company_place_1}"></h6>
            <h6 th:text="${count_company_place_1}"></h6>
            <h6 th:text="${text_company_place_2}"></h6>
            <h6 th:text="${count_company_place_2}"></h6>
            <h6 th:text="${text_company_place_3}"></h6>
            <h6 th:text="${count_company_place_3}"></h6>
            <h6 th:text="${text_company_place_4}"></h6>
            <h6 th:text="${count_company_place_4}"></h6>
            <h6 th:text="${text_company_place_5}"></h6>
            <h6 th:text="${count_company_place_5}"></h6>
            <h6 th:text="${text_company_place_6}"></h6>
            <h6 th:text="${count_company_place_6}"></h6>
            <h6 th:text="${text_company_place_7}"></h6>
            <h6 th:text="${count_company_place_7}"></h6>
            <h6 th:text="${text_company_place_8}"></h6>
            <h6 th:text="${count_company_place_8}"></h6>
            <h6 th:text="${text_company_place_9}"></h6>
            <h6 th:text="${count_company_place_9}"></h6>
        </div>


    </div>
</body>
</html>