<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Used Hashtags</title>

    <style type="text/css">
        body{
            background-color: #303030;
            color: white;
            font-family: sans-serif;
            text-align: center;
        }
        h1{
            font-weight: 300;
            font-size: 55px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    </style>
</head>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>

<script type="text/javascript">
    function draw() {
        var config ={
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "java_application",
            server_password: "12345",
            labels: {

            },
            relationships: {

            },
            initial_cypher: "MATCH p = ()-[:USES_HASHTAG]->(h:hashtag)\n" +
                "Return p"
        }

        var viz = new NeoVis.default(config);
        viz.render();
    }

</script>

<body onload="draw()">
    <h1>List of the most popular hashtags in our findings</h1>

    <div id="viz"></div>

    <div id="all">
        <div class = "text">
            <h2>Overall</h2>

            <h6 th:text="${text_all_place_0}"></h6>
            <h6 th:text="${count_all_place_0}"></h6>
            <h6 th:text="${text_all_place_1}"></h6>
            <h6 th:text="${count_all_place_1}"></h6>
            <h6 th:text="${text_all_place_2}"></h6>
            <h6 th:text="${count_all_place_2}"></h6>
            <h6 th:text="${text_all_place_3}"></h6>
            <h6 th:text="${count_all_place_3}"></h6>
            <h6 th:text="${text_all_place_4}"></h6>
            <h6 th:text="${count_all_place_4}"></h6>
            <h6 th:text="${text_all_place_5}"></h6>
            <h6 th:text="${count_all_place_6}"></h6>
            <h6 th:text="${text_all_place_6}"></h6>
            <h6 th:text="${count_all_place_7}"></h6>
            <h6 th:text="${text_all_place_8}"></h6>
            <h6 th:text="${count_all_place_8}"></h6>
            <h6 th:text="${text_all_place_9}"></h6>
            <h6 th:text="${count_all_place_9}"></h6>
        </div>

        <div id="user">
            <h2>By users</h2>

            <h6 th:text="${text_user_place_0}"></h6>
            <h6 th:text="${count_user_place_0}"></h6>
            <h6 th:text="${text_user_place_1}"></h6>
            <h6 th:text="${count_user_place_1}"></h6>
            <h6 th:text="${text_user_place_2}"></h6>
            <h6 th:text="${count_user_place_2}"></h6>
            <h6 th:text="${text_user_place_3}"></h6>
            <h6 th:text="${count_user_place_3}"></h6>
            <h6 th:text="${text_user_place_4}"></h6>
            <h6 th:text="${count_user_place_4}"></h6>
            <h6 th:text="${text_user_place_5}"></h6>
            <h6 th:text="${count_user_place_5}"></h6>
            <h6 th:text="${text_user_place_6}"></h6>
            <h6 th:text="${count_user_place_6}"></h6>
            <h6 th:text="${text_user_place_7}"></h6>
            <h6 th:text="${count_user_place_7}"></h6>
            <h6 th:text="${text_user_place_8}"></h6>
            <h6 th:text="${count_user_place_8}"></h6>
            <h6 th:text="${text_user_place_9}"></h6>
            <h6 th:text="${count_user_place_9}"></h6>
        </div>

        <div id="company">
            <h2>by Companies</h2>

            <h6 th:text="${text_company_place_0}"></h6>
            <h6 th:text="${count_company_place_0}"></h6>
            <h6 th:text="${text_company_place_1}"></h6>
            <h6 th:text="${count_company_place_1}"></h6>
            <h6 th:text="${text_company_place_2}"></h6>
            <h6 th:text="${count_company_place_2}"></h6>
            <h6 th:text="${text_company_place_3}"></h6>
            <h6 th:text="${count_company_place_3}"></h6>
            <h6 th:text="${text_company_place_4}"></h6>
            <h6 th:text="${count_company_place_4}"></h6>
            <h6 th:text="${text_company_place_5}"></h6>
            <h6 th:text="${count_company_place_5}"></h6>
            <h6 th:text="${text_company_place_6}"></h6>
            <h6 th:text="${count_company_place_6}"></h6>
            <h6 th:text="${text_company_place_7}"></h6>
            <h6 th:text="${count_company_place_7}"></h6>
            <h6 th:text="${text_company_place_8}"></h6>
            <h6 th:text="${count_company_place_8}"></h6>
            <h6 th:text="${text_company_place_9}"></h6>
            <h6 th:text="${count_company_place_9}"></h6>
        </div>


    </div>
</body>
</html>