<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>number of tweets</title>
    <style type="text/css">
        #viz{
            width: 900px;
            height: 500px;
        }
    </style>

    <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
</head>

<script type="text/javascript">
    function draw() {
        var config ={
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "java_application",
            server_password: "12345",
            labels: {
                "tweet": {
                    tweet: "tweet"
                },
                "company":{
                    username: "username"
                }
            },
            relationships: {
                "TWEETED":{
                    caption: false
                }
            },
            initial_cypher: 'MATCH p = (c:company)--[:TWEETED]->(t:tweet) RETURN p'
        }

        var viz = new NeoVis.default(config);
        viz.render();
    }

</script>

<body onload="draw()">

    <div id = "viz"></div>

    <div id="heading">
        <h1>number of tweets by </h1>
    </div>

    <div id="company">
        <h1 th:text="${company}"></h1>
    </div>

    <div id="count">
        <h1 th:text="${count}"></h1>
    </div>

    <div id="countbefore">
        <h1 th:text="${countbefore}"></h1>
    </div>

    <div id="countafter">
        <h1 th:text="${countafter}"></h1>
    </div>

</body>
</html>