<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>

    <style type="text/css">
        body{
            background-color: #303030;
            color: #fff;
            text-align: center;
            font-family: sans-serif;
        }
        h1, h2{
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<h1>Help</h1>
<h2>Query 1: Chart page</h2>
<p>This query will show a bar graph and a pie chart of the market share of the 4 different companies to be displayed. This query will show you who has the most and least interactions</p>
<h2>Query 2: Companies Page</h2>
<p>This page will simply show you how many and which companies we are working with</p>
<h2>Query 3: Number of tweets</h2>
<p>This page will tell you the number of tweets sent by the company you have chosen. Once you click this option, below 4 buttons will appear that will allow you to choose which company you would like to see the number of tweets for, once you have chose a company you will then go to the page with their statistics </p>
<h2>Query 4: Frequently Mentioned User</h2>
<p>This page will show you the users that are most actively interacting with the company chosen. Once clicked you will again have 4 buttons appear that will allow you to choose a company. Clicking the button of the company you want will then take you to a page where the statistics of all the mentioned users are</p>
<h2>Query 5: Popular Hashtags</h2>
<p>This option will simply take you to a page that has a list of all the most popular hashtags and how popular they are</p>
<h2>Query 6: Mentions per company</h2>
<p>This option will take you to a page that displays all the times that the company was mentioned</p>
<h2>Query 7: User Sentiment</h2>
<p>This option will take you to a page that shows the different general feelings that customers have
    towards a chosen company </p>
<h2>Query 8: Analysis</h2>
<p>This page will tell you our teams thoughts on the data gathered</p>
</body>
</html>