<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        body{
            background-color: #303030;
            color: white;
            font-family: sans-serif;
            text-align: center;
        }
        h1{
            font-weight: 300;
            font-size: 55px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div id="thing">
        <h1 th:text="${data}"></h1>
    </div>
</body>
</html>