body{
    background-color: #303030;
    text-align: center;
}

.container{
    color: white;
    font-family: sans-serif;
    margin: 0px 100px;
}

.container h1{
    font-weight: 600;
    font-size: 55px;
}