<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="style/aboutstyle.css">
</head>
<body>
<div class = "container">
    <h1>ABOUT</h1>
    <h2>DEVELOPMENT TEAM</h2>
        <p> Talha Vawda<br>
            Ahmad Jawaad Shah<br>
            Shaelin Naidoo<br>
            Ntusekho Mngadi<br>
            Hakeem Hoopdeo <br>
        </p>

    <h2>TOPIC</h2>
        <p> <B>Quantifying and Classifying the digital (Social Media) footprint of South African telecommunications companies
            before and during the COVID-19 Pandemic</B><br>
            This is the cornerstone group project for the COMP301 (Software Design) module
        </p>
    <br>
    <h2>WHAT DOES THIS INTERFACE ENTAIL</h2>
        <p>
            Allows for the user to select queries that can be performed on the data, and displays the results (both tabular data and some charts)
        </p>
    <br>
    <h2>HOW WE HAVE DEVELOPED OUR PROJECT</h2>
    <p> Data Acquisition - We set up a Python Scraper to extract tweets from Twitter using the Twint API from the 4 South African
        telecommunications companies (Telkom, Afrihost, MTN, and Rain - over the specified time period <br>
        Database - We selected Neo4j as our NoSql Graph Database, and learned the Cypher query language to create the
        database and perform queries on it <br>
        Web Interface - We created it using the IntelliJ IDEA IDE and we using the Spring Framework as our Web Framework
        along with Java for the Controllers, Cypher for the queries to the database, and JavaScript, HTML, and CSS for the Web Pages
     </p>
</div>
</body>
</html>