<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>

    <style type="text/css">
        h1{
            text-align: center;
        }

        body{
            background-color: #303030;
            color: white;
            text-transform: uppercase;
            font-family: sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Analysis</h1>

        <h2> Tweet Ratio </h2>
            <p>
                From the 4 companies, Telkom had the biggest share of the tweets in the database (46%). <br>
                This is consistent with what we expected as Telkom is the most popular ADSL provided in SA. <br> <br>
                MTN has the 2nd biggest share (25%). This is again expected, as MTN is (alongside Vodacom) the best perfoming
                and most popular Mobile Operator in South Africa due to its quality service offerings. <br> <br>
                Rain is a recent addition to the Internet sphere, and it's still growing its customer base, so it makes
                sense for it to have less tweets and interactions with users as compared to Telkom and MTN. <br> <br>
            </p>

        <h2> Number of Tweets</h2>
            <p>
                All the companies (besides Afrihost) were more active on Twitter during the lockdown period as compared to before the lockdown period.<br>
                Telkom was 4x more active, Rain 6x more active, and MTN was 2x more active <br>
                Afrihost had approximately the same tweet rate in both periods <br> <br>
                We can deduce form this that the companies have been providing a good customer service, and responding well
                to questions, queries, and complaints from their customers.

            </p>
            <br>

        <h2> Frequently Mentioned Users </h2>
            <p>
                The top 5 users that these 4 telecommunications companies mention (or replying to) in their tweets
                are also telecommunications companies themselves - Vodacom, Cell C, Vumatel, OpenServe, Web Africa <br>
                This indicates that our 4 telecoms companies interact quite a bit with other telecoms companies
                and that, in general, telecommunications companies interact quite occasionally with each other <br>
            </p>
            <br>

        <h2> Popular Hashtags </h2>
            <p>
                The most popular hashtags that were used by users - #lockdown, #lockdownsa, #covid19, #coronavirusSA - are as expected as
                it relates to the current main global event (the Covid-19 outbreak). These hashtags were popular even before
                lockdown was implemented as the virus was spreding quite fast even then. <br> <br>
                The most popular hashtags that were used by companies are #wegotyou and #liveuninterrupted, and
                this indicates that the telecoms companies invested in quite a number of campaigns during lockdown
                so that the SA citizens remain connected to the Internet in these bleak times so that they can get access
                to some entertainment, study, and interaction with friends and family whilst they stuck at home and socially
                distanced from everyone,<br> <br>
                The hashtag #datamustfall was quite popular amongst the users (customers) as people were now stuck at home
                during lockdown, so naturally they'll be spending more time on their digital devices and thus using up
                more data. People in the lower to middle class generally may not have a fixed Internet connection at home
                so they'll be using their Mobile Data to stay connected and mobile data is relatively quite expensive
                in South Africa. <br> <br>
            </p>
            <br>

        <h2> Number of Tweets the companies have been mentioned in</h2>
            <p>
                All the companies have been mentioned in more tweets during lockdown than from before lockdown. <br>
                Telkom was mentioned 5x more, Rain 6x more, Afrihost 2x more, and MTN 4x more <br>
                This means that their customers are opening up to them and coming forward with their queries and complaints
                <br> <br>
                From looking at the tweets, customers have been asking about products and prices, and complaining about
                poor network connection, low speed, poor customer service and disappearing data. <br>
                Most of these tweets were regarding Telkom, and this is expected as they have the biggest customer base.
                <br>
                Also, a number of students were complaining about poor network coverage from their current location - they have gone
                 back home from their residences and are now studying online from home.

            </p>
          <br>

        <h2> Sentiment Analysis </h2>
            <p>
                We categorised the sentiment into Positive, Neutral, and Negative Sentiment <br>

                For all the companies, the biggest share of sentiment is Negative Sentiment. However, this is to be viewed in context
                as their is a bias that a customer is more likely to go onto Twitter to vent and express their negative sentiment when
                their product isn't working as well as they'd expected it to, as compared to going and expressing their happiness that it is
                working perfectly. <br> <br>

                Comparing sentiment from before lockdown to during lockdown: <br>
                Telkom - negative sentiment has remained the same proportion/percent. Neutral sentiment has slightly increased<br>
                Rain - Negative Sentiment increase substantially. This is due to their bad service delivery (very slow speeds)
                which resulted in their customers going to social media to complain<br>
                Afrihost - Their negative sentiment decreased, and their positive and neutral sentiment increased. This means
                that they have adapted well to the lockdown and have managed to improve their service to their customers<br>
                MTN - Proportion of sentiment has remained the same. Thus they have provided a consistent service and upscaled
                their infrastructure quite successfully to adapt to their customers new needs due to Staying and Working from Home<br>

            </p>


</body>
</html>