#heading,#piechart,#barchart{
    text-align:center;
    width:50%;
    margin:auto;
    left:10%;
    color: #555;
}
h1{
    font-size: 350%;
}
body{
    background-color: rgb(56, 56, 56);
}
#foreground{
    position: absolute;
    background-color:#eee;
    width:80%;
    margin: auto;
    top:0%;
    left:10%;
    box-shadow: 5px 5px 5px 5px #111;
}
